.main-header {
  padding: 2em;
  margin-bottom: 3em;
  background-image: url(../graphic/bg_dust_2.png);
  background-position: center center;
  background-size: 100% 100%;
}

.main-header__logo {
  margin-top: 6em;
}

.main-header__heading {
  text-align: center;
  font-style: italic;
}

@media only screen and (min-width: 600px) {
  .main-header {
    padding: 3em 6em;
  }
}

@media only screen and (min-width: 900px) {
  .main-header {
    padding: 3em 12em;
  }
}

@media only screen and (min-width: 1200px) {
  .main-header {
    padding: 3em 20em;
  }
}
