html {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

h1 {
    font-size: 1.7em;
    font-weight: 400;
}

h2 {
    font-size: 1.4em;
    font-weight: 400;
}

dt {
    font-weight: 400;
}